{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block scripts %}
<script src="{% static "js/highcharts.js" %}"></script>

{% endblock scripts %}

{% block content %}

<div class="page-header">
<h1>{{ title }} stats</h1>
<p class="lead">Because everybody loves graphs<span style="font-size:0.6em; color:#AAA;">...right?</span></p>
</div>

<div id="charts-container" class="well">
	{% autoescape off %}
	{% for chart in charts %}
	<div class="chart" id="{{ chart.id }}"></div>
	<script>
		{{ chart.js }}
	</script>
	{% endfor %}
	{% endautoescape %}
</div>
{% endblock content %}