{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block scripts %}
<script src="{% static "js/highcharts.js" %}"></script>
<script>
$(function(){
	$(".alert button.close").click(function (e) {
	    $(this).parent().slideUp();
	});
});
</script>
{% endblock scripts %}

{% block styles %}
<style>
.stats-row{
	margin-top:40px;
}
@media (min-width: @screen-md-min) {
	.stats-label{ text-align:right; }
}
</style>
{% endblock styles %}

{% block content %}

<div class="page-header">
<h1>{{ title }} stats</h1>
<p class="lead">Because everybody loves graphs<span style="font-size:0.6em; color:#AAA;">...right?</span></p>
</div>

<div class="alert alert-info alert-dismissable">
<button type="button" class="close" aria-hidden="true">&times;</button>
Because of reasons, this doesn't include anything sent before {{ startdate }}
</div>
<div id="charts-container">
	{% autoescape off %}
	{% for chart in charts %}
	<div class="container stats-row well">
		<div class="col-md-5 stats-label">
			<h3>{{ chart.title }}</h3>
			<p><small>{{ chart.description }}</small></p>
		</div>
		<div class="col-md-7" id="{{ chart.id }}"></div>
	</div>
	<script>
		{{ chart.js }}
	</script>
	{% endfor %}
	{% endautoescape %}
</div>
{% endblock content %}